@using ToDoListApp.Application.ToDoItems.Queries
@model ToDoListApp.Application.ToDoItems.Queries.ToDoItemsViewModel
@{
    ViewData["Title"] = "ToDoList";
}

<h1>ToDoList</h1>
<form asp-controller="ToDoList" asp-action="Items" method="get" class="form-group">
    <div class="form-group row">
        <div class="col-sm-3">
            <input asp-for="Query.SearchTitle" class="form-control" placeholder="Search for title" />
        </div>
        <div class="col-sm-3">
            <input asp-for="Query.SearchDescription" class="form-control" placeholder="Search for description" />
        </div>
        <div class="col-sm-3">
            <select asp-for="Query.DoneStatus" asp-items="Html.GetEnumSelectList<DoneStatus>()" class="btn btn-primary dropdown-toggle form-inline"></select>
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
</form>
<div>

    @foreach (var item in Model.ToDoItems)
    {
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">Estimated finish time: @item.EstimatedFinish</p>

                <div class="card-footer">
                    <button data-item-id="@item.ToDoItemId" class="btn fa-check-square pull-right @(item.Done ? "btn-success fas js-toggle-uncheck" : "btn-secondary far js-toggle-check")"></button>
                    <a asp-controller="ToDoList" asp-action="Edit" method="get" asp-route-id="@item.ToDoItemId" class="btn btn-info fa fa-edit"></a>
                    <button asp-controller="ToDoList" asp-action="Delete" asp-route-id="@item.ToDoItemId" class="btn btn-danger fa fa-trash"></button>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(".js-toggle-check").click(function (e) {
                var button = $(e.target);
                $.post("/todolist/toggledone/", { id: button.attr("data-item-id") })
                    .done(function () {
                        button
                            .removeClass("js-toggle-check")
                            .addClass("js-toggle-uncheck")
                            .removeClass("far")
                            .addClass("btn-success")
                            .addClass("fas");
                        location.reload();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            $(".js-toggle-uncheck").click(function (e) {
                var button = $(e.target);
                $.post("/todolist/toggledone/", { id: button.attr("data-item-id") })
                    .done(function () {
                        button
                            .removeClass("js-toggle-uncheck")
                            .addClass("js-toggle-check")
                            .removeClass("fas")
                            .addClass("far")
                            .removeClass("btn-success");
                        location.reload();
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}
